.success-lol {
    border-left: solid .25rem #198754;
}
.lose-lol {
    border-left: solid .25rem #dc3545;
}
.partida-lol {
    border-radius: .25rem;
    padding-left: 7px;
}
.group-img-item{
    padding:0px !important;
}