@model Vortex.Models.ListaChampion;
@{
    ViewData["Title"] = "Partida Detalhada";
    PartidaDetalhada teste = ViewBag.Teste;
}

<div>
    <label >Total de Partidas: </label>
    <label >@teste.GameMode</label>
</div>

