@model Vortex.Models.ListaChampion;
@{
    ViewData["Title"] = "Partida Detalhada";
    ListaChampion listaChampion = ViewBag.Champions;
    Dictionary<string,Datum> champions = listaChampion.Data;
}

@{ 
    foreach (KeyValuePair<string, Datum> item in champions)
    {
        Datum champion = item.Value;

        <div>
            @*<div>
                <label>Id da partida: </label>
                <label>@champion</label>
            </div>*@
            <div>
                <label>Campeão: </label>
                <label>@champion.Title</label>
            </div>
    
        </div>
        <hr />
        }
    }
<div>
    <label >Total de Partidas: </label>
    <label >@listaChampion.Type</label>
</div>

