@model Vortex.Models.PartidasTotal;
    <link rel="stylesheet" href="~/css/partidas.css" />
@{
    ViewData["Title"] = "Privacy Policy";
    PartidasTotal statusPartidas = ViewBag.Partidas;
    List<Partida> partidas = statusPartidas.matches;
}

@{ 
    foreach (var partida in partidas)
    {
        var result = "success-lol";
        <div class="partida-lol @result">
            <div>
                <img class="rounded-circle" src="http://ddragon.leagueoflegends.com/cdn/11.15.1/img/champion/Aatrox.png" />
            </div>
            <div>
                <label>Id da partida: </label>
                <label>@partida.gameId</label>
            </div>
            <div>
                <label>Campeão: </label>
                <label>@partida.champion</label>
            </div>
    
        </div>
        <hr />
        }
    }
<div>
    <label asp-for="totalGames">Total de Partidas: </label>
    <label asp-for="totalGames">@statusPartidas.totalGames</label>
</div>