@model Vortex.Models.PartidaCompleta;
    <link rel="stylesheet" href="~/css/partidas.css" />
@{
    ViewData["Title"] = "Privacy Policy";
    List<PartidaCompleta> partidas = ViewBag.Partidas;
}

@{ 
    foreach (var partida in partidas)
    {
        var result = "success-lol";
        <div class="partida-lol @result">
            <div>
                <img class="rounded-circle" src="http://ddragon.leagueoflegends.com/cdn/11.15.1/img/champion/Aatrox.png" />
            </div>
            <div>
                <label>Id da partida: </label>
                <label>@partida.partida</label>
            </div>
            <div>
                <label>Campeão: </label>
                <label>@partida.champion</label>
            </div>
    
        </div>
        <hr />
        }
    }